/* Sheet.css */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    /* Center the content vertically */
    background-image: linear-gradient(30deg, #fdc830, #f37335);
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    /* Center the columns horizontally */
    overflow: hidden;
    /* Hide any content that overflows from the rounded corners */
}

.columns {
    display: flex;
    max-height: 100vh;
    width: 100%;
}

.left-column {
    color: #fff;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center the content vertically */
}

.upper-row {
    padding: 0.5rem 1rem;
    overflow-y: auto;
    /* Allow scrolling within the upper row */
    background-color: #2d2d2d;
    position: relative;
    /* Set the upper row as a relative positioning context */
}

.left-column>h2 {
    padding: 2.5rem 0 1.5rem 1.5rem;
    font-size: 16px;
    margin: 0;
    /* Remove any default margin to prevent spacing */
    position: sticky;
    /* Set the h2 tag as sticky */
    top: 0;
    /* Position the h2 tag at the top of the upper row */
    background-color: #2d2d2d;
    /* Add a background color to the h2 tag */
    z-index: 1;
    /* Set a higher z-index to make sure the h2 tag appears above the songs list */
}

.song-list {
    flex: 1;
    background-color: #2d2d2d;
    overflow-y: auto;
}

.song-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.song-list li {
    cursor: pointer;
    padding: 1rem;
    border-bottom: 1px solid #4e4e4e;
    /* Add a border at the bottom of each song item */
    transition: background-color 0.2s;
    /* Add a smooth background color transition on hover */
    font-size: 12px;
}

.song-list li:last-child {
    border-bottom: none;
    /* Remove the border from the last song item */
}

.song-list li:hover {
    background-color: #ae4800;
    /* Change background color on hover */
}

.song-list li.active {
    background-color: #ff6f06;
    /* Apply a different background color to the active song item */
    color: #fff;
    /* Change the text color of the active song item */
}

.lower-row {
    background-color: #1b1b1b;
    padding: 1.5rem 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.speed-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 1rem 0;
}

.speed-control label {
    color: #fff;
    font-size: 1rem;
    margin: 0 0 1rem 0;
}

.speed-control input {
    width: calc(100% - 20%);
}

.speed-control label span {
    color: #ff6f06;
}

.slider-container {
    width: 100%;
}

.slider {
    width: 100%;
    -webkit-appearance: none;
    /* Remove default styling on iOS */
    appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #2d2d2d;
    outline: none;
    /* Remove default focus outline */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Remove default styling on iOS */
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fdc830;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fdc830;
    cursor: pointer;
}


.control-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.scroll-button,
.stop-button {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scroll-button {
    background-color: #2d2d2d;
    border: 1px solid #2d2d2d;
    color: #fff;
}

.scroll-button:hover {
    background-color: #2d2d2d;
    border: 1px solid #ff6f06;
}

.stop-button {
    background-color: #ed213a;
    color: #fff;
}

.stop-button:hover {
    background-color: #bc0016;
}

.right-column {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the content horizontally */
    position: relative;
    background-color: #fff;
}

.sheet-container {
    max-width: 800px;
    width: 100%;
    overflow: auto;
    /* Allow scrolling within the right column */
    background-color: #fff;
    /* Optional: Add a white background */
}

.sheet-container img {
    width: 100%;
}

.keyboard {
    width: 100%;
    height: 50%;
    background-color: #c5c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Code to make the project responsive */

/* Add responsive styles for the left column */
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        align-items: flex-start;
        /* Center the content vertically */
        height: auto;
    }

    .columns {
        flex-direction: column;
        /* Stack columns on small screens */
        height: 100%;
        /* Allow content to determine height */
    }

    .right-column {
        margin: 0;
        padding: 0;
        width: 100%;
        /* Occupy full width minus 20px on small screens */
    }

    .sheet-container {
        height: 300px;
        /* Limit sheet music height on small screens */
    }

    .left-column {
        width: 100%;
        /* Occupy full width on small screens */
        height: 100%;
    }

    .upper-row {
        height: 170px;
    }

    .lower-row {
        height: auto;
    }

    .control-buttons {
        flex-direction: row;
    }

    .keyboard {
        height: 50%;
    }
}

/* Do not show keyboard when too narrow */
@media screen and (max-width: 440px) {
    .keyboard {
        display: none;
    }

    .sheet-container {
        height: 50vh;
    }
}
